
<div class="text-center">
    <div class="row mb-3">
        <div class="col-5 align-self-center text-end pr-0">存款:</div>
        <div class="col col-lg-2 text-start">
            <input v-model="Deposit" type="number" class="form-control"/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5 align-self-center text-end pr-0">每月存入:</div>
        <div class="col col-lg-2 text-start">
            <input v-model="DepositPerMonth" type="number" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5 align-self-center text-end pr-0">利率(%):</div>
        <div class="col col-lg-2 text-start">
            <input v-model="AnnualRatePerYear" type="number" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5 align-self-center text-end pr-0">年數:</div>
        <div class="col col-lg-2 text-start">
            <input v-model="Year" type="number" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5 align-self-center text-end pr-0">月數:</div>
        <div class="col col-lg-2 text-start">
            <input v-model="Month" type="number" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5 align-self-center text-end pr-0">累計金額:</div>
        <div class="col text-start">
            {{Math.round(Accumulation)}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5 align-self-center text-end pr-0">利息:</div>
        <div class="col text-start">
            {{Math.round(Interest)}}
        </div>
    </div>

</div>
