<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>利息計算機</title>
    <link rel="stylesheet" href="wwwroot/lib/bootstrap/bootstrap.min.css" />

    <script src="wwwroot/lib/vue/vue.global.prod.js" type="text/javascript"></script>
    <script src="wwwroot/lib/axios/axios.min.js" type="text/javascript"></script>
    <script src="wwwroot/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="wwwroot/js/site.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5">
            <div class="container">
                <a class="navbar-brand">利息計算機</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="app" class="text-center">

                <div class="row mb-3">
                    <div class="col-5 text-end pr-0">存款:</div>
                    <div class="col text-start">
                        <input v-model="Deposit" type="number" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5 text-end pr-0">每月存入:</div>
                    <div class="col text-start">
                        <input v-model="DepositPerMonth" type="number" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5 text-end pr-0">利率(%):</div>
                    <div class="col text-start">
                        <input v-model="AnnualRatePerYear" type="number" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5 text-end pr-0">年數:</div>
                    <div class="col text-start">
                        <input v-model="Year" type="number" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5 text-end pr-0">月數:</div>
                    <div class="col text-start">
                        <input v-model="Month" type="number" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5 text-end pr-0">累計金額:</div>
                    <div class="col text-start">
                        {{Math.round(Accumulation)}}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5 text-end pr-0">利息:</div>
                    <div class="col text-start">
                        {{Math.round(Interest)}}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5 text-end pr-0">複利:</div>
                    <div class="col text-start">
                        {{Math.round(CompoundInterest)}}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5 text-end pr-0">複利比率:</div>
                    <div class="col text-start">
                        {{CompoundRate.toFixed(2)}}%
                    </div>
                </div>
                <a href="/news">123</a>
            </div>
        </main>
    </div>



    <script>
        var app = Vue.createApp({
            data() {
                return {
                    Deposit: 1000000,
                    DepositPerMonth: 0,
                    AnnualRatePerYear: 4.2,
                    Month: 1,
                    Year: 0,
                }
            },
            created() {

            },
            computed: {
                CalculateMonth() {
                    return this.Month + this.Year * 12
                },
                Accumulation() {
                    let result = this.Deposit;

                    for (let i = 0; i < this.CalculateMonth; i++) {
                        result += result * (this.AnnualRatePerYear / 12) / 100 + this.DepositPerMonth;
                    }
                    return result
                },
                Interest() {
                    return this.Accumulation - this.Deposit - (this.DepositPerMonth * this.CalculateMonth);
                },
                CompoundInterest() {
                    let result = this.Deposit;

                    for (let i = 0; i < this.CalculateMonth; i++) {
                        result += this.Deposit * (this.AnnualRatePerYear / 12) / 100 + this.DepositPerMonth;
                    }
                    return this.Accumulation - result
                },
                CompoundRate() {
                    return this.CompoundInterest / this.Interest * 100;
                },
            },
            methods: {

            },
        }).mount('#app')

    </script>
    
</body>
</html>
