
<p class="fw-bold fs-5 title-text">遊戲下載</p>
<div class="card shadow-sm mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-4 d-flex flex-center">
                <a href="/file/unity.zip">練習編寫unity遊戲(尚在製作中)</a>
            </div>
            <div class="col-12 col-lg-8">
                <img src="~/image/wdc.jpg" style="max-width: 100%; height: auto;" />
            </div>
        </div>
        
    </div>
</div>

