
<div class="card shadow-sm mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-3 d-flex flex-center">
                <div class="border" style="width:100%;height:12em"></div>
                
            </div>
            <div class="col-9">
                <div class="row">
                    <p class="fw-bold fs-5 title-text">簡述</p>
                    <p>嚴格要求程式碼的品質與結構，儘可能不寫重複邏輯</p>
                    <p>擅長的能力是模組化功能，盡可能地重複利用function，保證維護的品質與速度，</p>
                    <p>大幅度的減少了開發的時間(基礎CRUD可在20分鐘內產出)</p>
                    <p>以及降低與同事接交程式碼的負擔。</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <p class="fw-bold fs-5 title-text">現居台北市大同區</p>
        <div class="row">
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.149170625159!2d121.51330480878798!3d25.062932728035157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a93ee261540b%3A0xea34a16eef2e900c!2z5bu25LiJ5aSc5biC!5e0!3m2!1szh-TW!2stw!4v1674203071035!5m2!1szh-TW!2stw"
                        width="600" height="450" style="border:0;width:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</div>


<script>
    component = {
        mixins: [baseMixin],
        data() {
            return {
                pageTitle: '關於我',

            }
        },
        created() {

        },
        methods: {

        },
    }
</script>
