
<div class="background-video mobile-limit">
    <video src="/video/pexels-mamunur-rashid-6336968.mp4" class="bg-video" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline" style=" opacity: 0.8; width: 100vw">
    </video>
</div>

<div class="card card-transparent shadow-sm mb-3">
    <div class="card-header">
        <span class="title-text fs-3 fw-bold" style="text-shadow: 0em 0.1em 3px #fff703;">恭喜你獲得!!</span>
    </div>
    <div class="card-body">
        <div class="row my-3">
            <div class="col-6">
                <div class="card card-shadow p-3">
                    <div class="mb-3" style="max-width: 100%">
                        <img class="rounded" src="/image/8f71e72c5d8141d2aa91261525db11e6.jpg" style="max-width: 100%;max-height: 100%;" />
                    </div>

                    <div class="mb-2">
                        <span class="title-text fs-6">韓國 Medi Flower 濟州島經典護手霜禮盒(75mlx6入)盒裝</span>
                    </div>

                    <div>
                        
                        <span style="border: 1px solid #0da7fd;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    border-radius: 3em;
    background-color: #0da7fd;
    color: white;"><i class="fa-regular fa-heart fa-beat-fade me-1"></i>敬請期待</span>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card card-shadow p-3">
                    <div class="mb-3" style="max-width: 100%">
                        <img class="rounded" src="/image/4849b1f51830401291e7b4cff04e3a8a.jpg" style="max-width: 100%;max-height: 100%;" />
                    </div>

                    <div class="">
                        <span class="title-text fs-6">韓國 isLeaf 衣物香氛噴霧(60ml)</span>
                    </div>

                    <div class="mb-2">
                        <span class="title-text fs-5" style="color: #ff00ae;"> X 5</span>
                    </div>

                    <div>
                        <span style="border: 1px solid #0da7fd;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    border-radius: 3em;
    background-color: #0da7fd;
    color: white;"><i class="fa-regular fa-heart fa-beat-fade me-1"></i>敬請期待</span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="card shadow-sm mb-3">
    <div class="card-header">
        <i class="fa-solid fa-gift fa-bounce fa-2xl" style="color: #e90707;"></i>
    </div>
    <div class="card-body">
        <div class="title-text fs-5 fw-bold" style="text-shadow: 0em 0.1em 3px #fff703;">
            <span>感謝你/妳參加交換禮物~~</span>
            <br />
            <span>到貨後會親自送到你/妳手上唷!</span>
        </div>
        

    </div>
</div>

