

<p class="fw-bold fs-5 title-text">預計推出項目</p>
<div class="card shadow-sm mb-3">
    <div class="card-body">
        <span class="fw-bold fs-5 title-text">框選圖片</span>
    </div>
</div>
<div class="card shadow-sm mb-3">
    <div class="card-body">
        <span class="fw-bold fs-5 title-text">動態表單</span>
    </div>
</div>
<div class="card shadow-sm mb-3">
    <div class="card-body">
        <span class="fw-bold fs-5 title-text">遊戲</span>
    </div>
</div>


<script>
    component = {
        mixins: [baseMixin],
        data() {
            return {
                pageTitle: '首頁',

            }
        },
        created() {
            
        },
        methods: {

        },
    }
</script>
