

<p class="fw-bold fs-5 title-text">最近推出項目</p>
<div class="card shadow-sm mb-3">
    <div class="card-body">
        <a class="fw-bold fs-5 title-text" asp-controller="imagecoverframe" asp-action="Index">圖片框選器</a>
    </div>
</div>
<div class="card shadow-sm mb-3">
    <div class="card-body">
        <a class="fw-bold fs-5 title-text" asp-controller="dynamicform" asp-action="Index">動態表單</a>
    </div>
</div>
<div class="card shadow-sm mb-3">
    <div class="card-body">
        <a class="fw-bold fs-5 title-text" asp-controller="unitywebgl" asp-action="Index">遊戲</a>
    </div>
</div>


<script>
    component = {
        mixins: [baseMixin],
        data() {
            return {
                pageTitle: '首頁',

            }
        },
        created() {
            
        },
        methods: {

        },
    }
    var formComponent = Vue.createApp(component)
</script>
