
<v-mouse-sync :authInfo="authInfo" :connection="connection" :realtimeDb="realtimeDb">
    <div class="row h-fit-screen">
        <div class="col" style="height:inherit">
            <v-chat :authInfo="authInfo" :firestore="firestore"></v-chat>
        </div>
    </div>
</v-mouse-sync>





                    