@{
    Layout = null;
    string renderController = ViewBag.RenderController;
    string renderAction = ViewBag.RenderAction;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>自由發揮 園丁Tim</title>
    <link rel="stylesheet" href="/lib/bootstrap/cdn.jsdelivr.net_npm_bootstrap@5.2.3_dist_css_bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/image-cover-frame.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/dynamic-form.css" asp-append-version="true" />

    <script src="/lib/bootstrap/cdn.jsdelivr.net_npm_bootstrap@5.2.3_dist_js_bootstrap.bundle.min.js"></script>
    <script src="/lib/vue/vue.global.prod.js" type="text/javascript"></script>
    <script src="/lib/Sortable/Sortable.min.js"></script>
    <script src="/lib/vue/vuedraggable.umd.min.js"></script>
    <script src="/lib/axios/unpkg.com_axios@1.4.0_dist_axios.min.js"></script>
    <script src="https://unpkg.com/vue-router@4.2.2/dist/vue-router.global.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script> 
</head>

<body id="app" >
    <header>
        <div style="display:contents"></div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 px-5 nav-shadow navbar-animation">
            <div class="container-fluid">
                <router-link to="/" class="navbar-brand fw-bold fs-3 logo-text">園丁Tim</router-link>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li v-for="v in navbar" class="nav-item me-3 px-2 " style="position: relative">
                            <router-link :to="v.to" 
                                        class="nav-link text-dark"
                                         :class="{'new-tag': v.newTag}">{{v.name}}</router-link>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav flex-grow-1" style="justify-content: flex-end">
                        <li class="nav-item me-3 px-2">
                            <div v-if="authInfo.ready">
                                <a v-if="hasAuth" class="nav-link text-dark" @@click="signOut()" style="cursor:pointer">{{authInfo.user.displayName}}</a>
                                <a v-if="!hasAuth" class="nav-link text-dark" @@click="signIn()" style="cursor:pointer">登入</a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container header-margin" >
        <main role="main">
            <router-view v-if="!pageLoading"></router-view>
        </main>
    </div>
    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Github - <a asp-controller="HtmlCenter" asp-action="UpdateRenderView" style="color: #6c757d">更新</a>
        </div>
    </footer>*@

    <script src="/js/vue-component/index.js" type="module"></script>
</body>
</html>
