@{
    Layout = null;
    string renderController = ViewBag.RenderController;
    string renderAction = ViewBag.RenderAction;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>自由發揮 園丁Tim</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/image-cover-frame.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dynamic-form.css" asp-append-version="true" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3.2.45/dist/vue.global.prod.js" type="text/javascript"></script>
    <script src="~/lib/Sortable/Sortable.min.js"></script>
    <script src="~/lib/vue/vuedraggable.umd.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/vue-mixin.js" asp-append-version="true"></script>
</head>

<body id="app">
    <script>
        var thisApp;
        var component;

        const baseMixin = {
            mixins: [firestoreMixin, realtimeDbMixin],
            data() {
                return {
                    Layout: {
                        headTitle: document.getElementsByTagName("title")[0].innerHTML,
                    }, 
                    authInfo: {
                        ready: false,
                        user: null,
                    },
                    connectionName: 'connections',
                }
            },
            beforeCreate() {
                thisApp = this;
            },
            async created() {
                thisApp.setHeadTitle(thisApp.pageTitle)

                let { waitForAuthStateChange } = await thisApp.getDbAssembly();
                thisApp.authInfo.user = await waitForAuthStateChange();
                thisApp.authInfo.ready = true;

                if(thisApp.authInfo.user != null)
                    thisApp.userConnection(thisApp.authInfo.user);
            },
            computed: {
                hasAuth() { return thisApp.authInfo.user != null; },
            },
            methods: {
                userConnection: async function (userInfo) {
                    let { addConnection, serverTimestamp } = await thisApp.getRealtimeDb();

                    let hasAuth = userInfo != null;
                    let uid = hasAuth ? userInfo.uid : thisApp.newGuid();
                    let displayName = hasAuth ? userInfo.displayName : "訪客";

                    addConnection(thisApp.connectionName, uid, {
                        key: uid,
                        isMember: hasAuth,
                        displayName: displayName,
                        timestamp: serverTimestamp(),
                        connections: true,
                    });
                },
                signIn: async function () {
                    let { googleSignIn, getAuth } = await thisApp.getDbAssembly();
                    result = await googleSignIn();
                    thisApp.authInfo.user = result.user;
                    thisApp.userConnection(thisApp.authInfo.user);

                    thisApp.dbInsert("LoginUser", {
                        email: result.user.email,
                        displayName: result.user.displayName,
                        createDate: new Date(),
                    })
                },
                signOut: async function () {
                    if (!confirm("是否要登出?")) { return false; }

                    let uid = thisApp.authInfo.user.uid;
 
                    let { getAuth, signOut } = await thisApp.getDbAssembly();
                    const auth = getAuth();

                    signOut(auth).then(() => {
                        thisApp.authInfo.user = null;
                    }).catch((error) => {
                        console.log(error)
                    });

                    let { removeConnection } = await thisApp.getRealtimeDb();
                    removeConnection(thisApp.connectionName, uid);
                },
                newGuid: function () {
                    return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                        (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
                    );
                },
                setHeadTitle(title) {
                    if (!title) { return; }
                    document.getElementsByTagName("title")[0].innerHTML = title + ' - ' + thisApp.Layout.headTitle;
                },
            },
            watch: {
            }
        }
    </script>

    <header>
        <div style="display:contents"></div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 px-5 nav-shadow navbar-animation">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold fs-3 logo-text" href="/">Github重劃區</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item me-3 px-2">
                            <a class="nav-link text-dark" asp-controller="imagecoverframe" asp-action="Index">圖片框選器</a>
                        </li>
                        <li class="nav-item me-3 px-2">
                            <a class="nav-link text-dark" asp-controller="dynamicform" asp-action="Index">動態表單v1.0</a>
                        </li>
                        <li class="nav-item me-3 px-2">
                            <a class="nav-link text-dark" asp-controller="interest" asp-action="Index">利息計算機</a>
                        </li>
                        <li class="nav-item me-3 px-2">
                            <a class="nav-link text-dark" asp-controller="unitywebgl" asp-action="Index">Unity遊戲</a>
                        </li>
                        <li class="nav-item me-3 px-2">
                            <a class="nav-link text-dark" asp-controller="aboutme" asp-action="Index">關於我</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav flex-grow-1" style="justify-content: flex-end">
                        <li class="nav-item me-3 px-2">
                            <div v-if="authInfo.ready">
                                <a v-if="hasAuth" class="nav-link text-dark" @@click="signOut()" style="cursor:pointer">{{authInfo.user.displayName}}</a>
                                <a v-if="!hasAuth" class="nav-link text-dark" @@click="signIn()" style="cursor:pointer">登入</a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container header-margin">
        <main role="main" class="pb-3">
            <partial name="~/Views/@(renderController)/@(renderAction).cshtml" />
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Github - <a asp-controller="Home" asp-action="UpdateRenderView" style="color: #6c757d">更新</a>
        </div>
    </footer>

    <script>
        var vApp = formComponent.mount('#app')
    </script>


</body>
</html>
